<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MJCLibrary"
        tools:targetApi="31"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString">
        <activity android:name=".StudyRoomReservationDetailsActivity" android:label="스터디룸 예약 상세 액티비티"
            android:exported="true">

        </activity>
        <activity
            android:name=".StudyRoomReservationActivity" android:label="스터디룸 예약 액티비티"
            android:exported="true">

        </activity>
        <activity
            android:name=".LoginActivity" android:label="로그인 액티비티"
            android:exported="true">


        </activity>
        <activity
            android:name=".SplashActivity" android:label="스플래쉬 액티비티"
            android:exported="true">

        </activity>
        <activity
            android:name=".MainActivity" android:label="툴바"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>